[Desktop Entry]
Name=Clay
Comment=Warm minimal window decoration
X-KDE-PluginInfo-Name=Clay
X-KDE-PluginInfo-Author=artt
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
